import(methods)
import(RCurl)
import(XML)
import(sp)
import(rgdal)
import(rgeos)
import(raster)
import(uuid)
importFrom("stats", "reshape")
importFrom("utils", "zip")

export(
	findP4s,
	readWFS,
	exportFeatures,
	intersection,
  toSpatialPoints,
  joinByArea,
	addVertices,
	createCWPGrid,
	clipToExtent,
	clipToGlobalExtent
)
