import(methods)
import(RCurl)
import(XML)
import(sp)
import(rgdal)
import(rgeos)
import(raster)
import(uuid)

export(
	findP4s,
	readWFS,
	exportFeatures,
	intersection,
  toSpatialPoints,
  joinByArea,
	addVertices,
	createCWPGrid
)
